# Controlled by Ansible

COMPOSE_PROJECT_NAME="dozzle"

# Global Variables
{% for key, value in global_vars.items() %}
{{ key }}="${{ '{' ~ key ~ ':-' ~ value ~ '}' | replace('{', '{{') | replace('}', '}') }}"
{% endfor %}
