# Managed by Ansible

COMPOSE_PROJECT_NAME="dozzle"
local_domain={{ local_domain }}

# Global Variables
{% for key, value in global_vars.items() %}
{{ key }}="${{ '{' ~ key ~ ':-' ~ value ~ '}' | replace('{', '{{') | replace('}', '}') }}"
{% endfor %}
