# Managed by Ansible

COMPOSE_PROJECT_NAME="${COMPOSE_PROJECT_NAME:-{{ homepage.COMPOSE_PROJECT_NAME }}}"
local_domain={{ local_domain }}

# Global Variables
{% for key, value in global_vars.items() %}
{{ key }}="${{ '{' ~ key ~ ':-' ~ value ~ '}' | replace('{', '{{') | replace('}', '}') }}"
{% endfor %}

# Widgets Config
{% for key, value in homepage.widgets.items() %}
HOMEPAGE_VAR_{{ key }}="${HOMEPAGE_VAR_{{ key }}:-{{ value }}}"
{% endfor %}

# Docker Config
{% for key, value in homepage.docker.items() %}
HOMEPAGE_{{ key }}="${HOMEPAGE_{{ key }}:-{{ value }}}"
{% endfor %}

# Services Config
{% for key, value in homepage_encrypted.items() %}
HOMEPAGE_VAR_{{ key }}="${HOMEPAGE_VAR_{{ key }}:-{{ value }}}"
{% endfor %}
