# Controlled by Ansible

COMPOSE_PROJECT_NAME="{{ media_server.COMPOSE_PROJECT_NAME }}"

# User and Group Settings
{% for key, value in user_group.items() %}
DEFAULT_{{ key }}="${DEFAULT_{{ key }}:-{{ value }}}"
{% endfor %}

# Global Variables
{% for key, value in global_vars.items() %}
{{ key }}="${{ '{' ~ key ~ ':-' ~ value ~ '}' | replace('{', '{{') | replace('}', '}') }}"
{% endfor %}

# Base Directories
CONFIG_DIR="{{ paths.CONTAINER_CONFIG_DIR }}"
DEFAULT_DATA_DIR="{{ paths.NFS_MOUNT_PATH }}"

# App config paths
{% for key, value in media_server.config_dirs.items() %}
{{ key }}_CONFIG_DIR="${CONFIG_DIR}/{{ value | lower }}"
{% endfor %}

# Custom paths
{% for key, value in media_server.custom_data_dirs.items() %}
{{ key }}_DATA_DIR="${DEFAULT_DATA_DIR}/{{ key | lower }}/{{ value }}"
{% endfor %}
