# Managed by Ansible

COMPOSE_PROJECT_NAME={{ traefik.COMPOSE_PROJECT_NAME }}
CF_DNS_API_TOKEN={{ traefik_secrets.CF_DNS_API_TOKEN }}
TRAEFIK_DASHBOARD_CREDENTIALS={{ traefik_secrets.TRAEFIK_DASHBOARD_CREDENTIALS }}
local_domain={{ local_domain }}

# Global Variables
{% for key, value in global_vars.items() %}
{{ key }}="${{ '{' ~ key ~ ':-' ~ value ~ '}' | replace('{', '{{') | replace('}', '}') }}"
{% endfor %}
